{% extends 'base.html'%}
{% block content %}

    <!-- start banner Area -->
			<section class="banner-area relative" id="home">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-center">
						<div class="banner-content col-lg-12" style="text-align: center;">
<br><br><br><br><br><br><br>
				<span>About Our Site</span>
				<h2>Welcome to Job Express</h2>
                <p>As the world is proceeding towards advancement, it is necessary to update the system with modern ideologies and proactive skills. </p>
            <p>Any academic institute is the pillar of nation’s building which perform three basic tasks of preservation, dissemination and advancement of knowledge in various spheres of human activities. This is the primary goal of educational organization.</p>

            <p>As the technology is evolving rapidly, there are colleges which are standing as the foundation of national development. Further, in our national perspective, any academic institution is supposed to play a much vital role by assisting the all round development, be the carrier of national aspirations, leads the technocrats and promote national unity.</p>
    		<div class="row-md-6">
				<img class="img-responsive" src="https://cache.careers360.mobi/media/presets/720X480/colleges/social-media/media-gallery/5024/2018/10/31/Campus%20View%20of%20Alpine%20Institute%20of%20Technology%20Ujjain_Campus-View.jpg" alt="Free HTML5 Bootstrap Template" style="max-height: 300px">
                	<img class="img-responsive" src="https://cache.careers360.mobi/media/presets/720X480/colleges/social-media/media-gallery/5024/2018/10/31/Campus%20View%20of%20Alpine%20Institute%20of%20Technology%20Ujjain_Campus-View.jpg" alt="Free HTML5 Bootstrap Template" style="max-height: 300px">
			</div>



						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->

{% endblock %}